@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --bg-color: rgb(10, 20, 60);
  --color-white: #dee3ea;
  --color-white-300: #abb7ca;
  --color-blue: #009BFF;
  --color-red: #fc2b2b;
  --font-title: 'Montserrat', sans-serif;
  --font-main: 'Roboto', sans-serif;
}

body {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  color: var(--color-white);
  font-family: var(--font-main);
  overflow: hidden;
  font-size: 1.4rem;
}

h1 {
  font-family: var(--font-title);
  font-size: 3rem;
}