.button-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}

button {
  background: var(--color-white);
  border: none;
  border-radius: 3px;
  padding: 5px 15px;
  color: var(--bg-color);
  font-size: 1.4rem;

  &:hover {
    cursor: pointer;
    background: var(--color-white-300);
  }

  &.selected {
    background: var(--color-blue);
    color: var(--color-white);
  }

  &.wrong {
    background: var(--color-red);
    color: var(--color-white);
  }
}